body {
    background-color: rgb(41, 31, 26);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

nav button {
    margin: 10px 20px;
    border-color: transparent;
    background-color: transparent;
    color: rgb(179, 168, 153);
}

nav button:hover {
}